<section class="featured-section pb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-2">
        <h2 class="text-white">Features Post</h2>
        <p class="text-white">Lorum</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2>Latest</h2>
    <p></p>
  </div>
  <div class="row">
    <div class="col-sm-4 mt-3">
        <app-post-card></app-post-card>
    </div>
    <div class="col-sm-4 mt-3">
        <app-post-card></app-post-card>
    </div>
    <div class="col-sm-4 mt-3">
        <app-post-card></app-post-card>
    </div>
    <div class="col-sm-4 mt-3">
        <app-post-card></app-post-card>
    </div>
    <div class="col-sm-4 mt-3">
        <app-post-card></app-post-card>
    </div>
    <div class="col-sm-4 mt-3">
        <app-post-card></app-post-card>
    </div>
  </div>
</section>
