/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #026467;
  --secondary: #e5f5ea;
  --body-text-color: #596392;
  --navbar-footer-color: #f9f9f9;
}

body {
  font-size: 12px;
  color: var(--body-text-color);
}

.site-logo {
  padding: 5px;
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--primary);
}

.bg-theme{
  background-color: var(--primary);
}


input[text], input[email]{
  height: 60px;
  padding-left:20px;
  font-size: 13px;
  width: 100px;
}

.btn-sub{
  height: 58px;
  border: none;
  font-size: 13px;
  background-color: var(--primary);
  color: var(--secondary);
}