<div class="card">
    <img src="assets/post.jpg" alt="post image">
    <div class="card-body">
        <small class="bg-light text-danger text-center">
            Design
        </small>
        <small class="bg-light text-danger text-center ml-3">
            Featured
        </small>
        <small class="bg-light text-danger text-center ml-3">
            Views - 100,225
        </small>
        
        <h5 class="mt-1">Title</h5>
        <p>Lorum</p>
        
        <small class="bg-light text-warning text-center ml-3">
            Views - 100,225
        </small>
    </div>
</div>